.header_menu-hamburguer{
    width: 40px;
    height: 40px;
    background-image: url('../img/Menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.header{
    background-color: var(--background-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display:flex;
    align-items: center;
}
.container_lista_menu{
    display: none;
    position: absolute;
    top:100%;
    width: 70vw;
}
.container__botao:checked~.container_lista_menu{
    display: block;
            
}
.lista-menu_titulo,
.lista-menu_link{
    padding: 1rem;
    background-color: var(--background-principal);
}
.lista-menu_titulo{
    color: var(--titulo-principal);
    font-weight: 700;
}
.lista-menu_link{
    color: var(--background-principal);
}
.lista-menu_link a{
    color:  #002F52;
    text-decoration: none;
}
.container__botao{
    display: none;
}
.container__titulo{
    display: none;
}
.opções {
    display: none;
   } 
@media screen and (min-width:1024px){
    
    .container__titulo, .container__titulo--negrito{
        font-family: 'Josefin Sans';
        font-size: 30px;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opções{
        display: flex;
    }
    .opções__item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opções__link{
        text-decoration: none;
        color: var(--texto-principal);
    }
    .container_imagem_transparente{
        display: none;
    }
    .header_menu-hamburguer{
        display: none;
    }
    .opções__botao:checked ~ .container_lista_menu{
        display: block;
        width: auto;
    }
    .opções__botao{
        display: none;
    }
   
}